* {
  margin: 0px;
  padding: 0px;

}

.section1 {
  position: relative;
  background-image: url("images/halie-west-bg.jpg");
  background-repeat: no-repeat;
  background-size: 40% 100%;
  background-position: 0% 0%;
  height: 100vh;
  width: 100vw;
}

img {
  position: relative;
  height: 100px;
  width: 80px;
  transform: translate(25 50);
}

.leftside {
  /* background-color: */
  /* border: 4px solid blue; */
}

.section2 p {
  color: white;
}
