* {
  font-family: Arial, Helvetica, sans-serif;
  /* margin: 0px; */
  /* padding: 0px; */
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

@font-face {
  font-family: logoFont;
  src: url(Norse-Bold.otf);
}

.container {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

.leftSide {
  flex: 1 0 500px;
}

.rightSide {
  flex: 1 0 0;
}

.leftSide {
  position: relative;
  background-image: url("images/halie-west-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0% 0%;
  height: 100vh;
  width: 100vw;
}

.leftSide p {
  position: absolute;
  top: 200px;
  left: 50px;
  font-family: logoFont;
  color: white;
  font-size: 85px;
}

img {
  float: left;
  position: relative;
  height: 100px;
  width: 80px;
  transform: translate(25 50);
}

p,
img {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid blue;
}

/**/
/* .rightSide { */
/*   position: absolute; */
/*   font-size: 1rem; */
/*   text-align: left; */
/*   color: black; */
/* } */
