* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f2f2f2;
}

@font-face {
  font-family: logoFont;
  src: url(Norse-Bold.otf);
}

.section1 {
  position: relative;
  background-image: url("images/halie-west-bg.jpg");
  background-repeat: no-repeat;
  background-size: 40% 100%;
  background-position: 0% 0%;
  height: 100vh;
  width: 100vw;
}

.leftSide p {
  font-family: logoFont;
  color: white;
  font-size: 85px;
}

img {
  float: left;
  position: relative;
  height: 100px;
  width: 80px;
  transform: translate(25 50);
}

/* p, */
/* img { */
/*   background-color: rgba(0, 0, 0, 0.3) */
/*     /* border: 4px solid blue; */
*/
/* } */

.callToAction {
  font-size: 1rem;
  text-align: left;
  color: black;
}
